<a href="https://colab.research.google.com/github/PromitHal/AI_ML/blob/main/Multivariate_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
#Multivariate regression
import pandas as pd
import numpy as np
data=pd.read_csv('house_sales.csv')

In [73]:
data=data.drop(columns="parks",axis=1)

In [74]:
data.describe()

            price  resid_area    air_qual  ...  n_hos_beds  n_hot_rooms    rainfall
count  506.000000  506.000000  506.000000  ...  498.000000   506.000000  506.000000
mean    22.528854   41.136779    0.554695  ...    7.899767    13.041605   39.181818
std      9.182176    6.860353    0.115878  ...    1.476683     5.238957   12.513697
min      5.000000   30.460000    0.385000  ...    5.268000    10.057600    3.000000
25%     17.025000   35.190000    0.449000  ...    6.634500    11.189800   28.000000
50%     21.200000   39.690000    0.538000  ...    7.999000    12.720000   39.000000
75%     25.000000   48.100000    0.624000  ...    9.088000    14.170800   50.000000
max     50.000000   57.740000    0.871000  ...   10.876000   101.120000   60.000000

[8 rows x 14 columns]

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        506 non-null    float64
 1   resid_area   506 non-null    float64
 2   air_qual     506 non-null    float64
 3   room_num     506 non-null    float64
 4   age          506 non-null    float64
 5   dist1        506 non-null    float64
 6   dist2        506 non-null    float64
 7   dist3        506 non-null    float64
 8   dist4        506 non-null    float64
 9   teachers     506 non-null    float64
 10  poor_prop    506 non-null    float64
 11  airport      506 non-null    object
 12  n_hos_beds   498 non-null    float64
 13  n_hot_rooms  506 non-null    float64
 14  waterbody    506 non-null    object
 15  rainfall     506 non-null    int64
 16  bus_ter      506 non-null    object
dtypes: float64(13), int64(1), object(3)
memory usage: 67.3+ KB

In [76]:
#Checking missing values
data.isna().sum()

price          0
resid_area     0
air_qual       0
room_num       0
age            0
dist1          0
dist2          0
dist3          0
dist4          0
teachers       0
poor_prop      0
airport        0
n_hos_beds     8
n_hot_rooms    0
waterbody      0
rainfall       0
bus_ter        0
dtype: int64

In [77]:
#We notice that there are 8 missing values for n_hos_beds
#Removing missing values
data=data.dropna(axis=0,how='any')

In [78]:
data.isnull().sum()

price          0
resid_area     0
air_qual       0
room_num       0
age            0
dist1          0
dist2          0
dist3          0
dist4          0
teachers       0
poor_prop      0
airport        0
n_hos_beds     0
n_hot_rooms    0
waterbody      0
rainfall       0
bus_ter        0
dtype: int64

In [79]:
#Feature variable
X=data.drop(columns="price",axis=1)

In [80]:
#Target  variable
Y=data["price"]

In [81]:
import statsmodels.api as sn
import seaborn as sns

In [82]:
X_multi=sn.add_constant(X)

In [ ]:
#One hot encoding the features

In [83]:
X_multi=pd.get_dummies(X_multi,columns=['bus_ter'])
X_multi=pd.get_dummies(X_multi,columns=['airport'])
X_multi=pd.get_dummies(X_multi,columns=['waterbody'])

In [84]:
X_multi.head()

   const  resid_area  ...  waterbody_None  waterbody_River
0    1.0       32.31  ...               0                1
1    1.0       37.07  ...               0                0
2    1.0       37.07  ...               1                0
3    1.0       32.18  ...               0                0
4    1.0       32.18  ...               0                0

[5 rows x 21 columns]

In [85]:
#Fitting into Multivariate Regression Model
model_multi=sn.OLS(Y,X_multi).fit()

In [86]:
model_multi.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.721
Model:                            OLS   Adj. R-squared:                  0.711
Method:                 Least Squares   F-statistic:                     72.94
Date:                Tue, 14 Dec 2021   Prob (F-statistic):          4.69e-121
Time:                        16:20:26   Log-Likelihood:                -1493.0
No. Observations:                 498   AIC:                             3022.
Df Residuals:                     480   BIC:                             3098.
Df Model:                          17
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                       -1.9645      1.877     -1.046      0.296      -5.653       1.724
resid_area                  -0.0375      0.058     -0.649      0.517      -0.151       0.076
air_qual                   -16.1914      3.777     -4.287      0.000     -23.613      -8.770
room_num                     4.0755      0.425      9.584      0.000       3.240       4.911
age                         -0.0059      0.014     -0.432      0.666      -0.033       0.021
dist1                       -0.5772      1.873     -0.308      0.758      -4.257       3.103
dist2                        0.9839      1.996      0.493      0.622      -2.939       4.907
dist3                       -1.5418      1.944     -0.793      0.428      -5.361       2.277
dist4                       -0.0796      1.046     -0.076      0.939      -2.134       1.975
teachers                     1.0096      0.119      8.516      0.000       0.777       1.243
poor_prop                   -0.5660      0.051    -11.075      0.000      -0.666      -0.466
n_hos_beds                   0.3359      0.153      2.190      0.029       0.035       0.637
n_hot_rooms                  0.0345      0.042      0.811      0.418      -0.049       0.118
rainfall                     0.0149      0.018      0.825      0.410      -0.021       0.050
bus_ter_YES                 -1.9645      1.877     -1.046      0.296      -5.653       1.724
airport_NO                  -1.6096      0.965     -1.667      0.096      -3.507       0.287
airport_YES                 -0.3549      0.967     -0.367      0.714      -2.255       1.545
waterbody_Lake              -0.1177      0.649     -0.181      0.856      -1.393       1.158
waterbody_Lake and River    -0.9902      0.693     -1.428      0.154      -2.352       0.372
waterbody_None              -0.3171      0.594     -0.533      0.594      -1.485       0.851
waterbody_River             -0.5396      0.567     -0.951      0.342      -1.654       0.575
==============================================================================
Omnibus:                      183.214   Durbin-Watson:                   0.990
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              853.309
Skew:                           1.574   Prob(JB):                    5.09e-186
Kurtosis:                       8.587   Cond. No.                     6.64e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.07e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [87]:
from sklearn.linear_model import LinearRegression

In [88]:
lm3=LinearRegression()

In [89]:
lm3.fit(X_multi,Y)

LinearRegression()

In [90]:
print(lm3.intercept_,lm3.coef_)

-5.4023724345841515 [ 0.00000000e+00 -3.75167195e-02 -1.61914037e+01  4.07551853e+00
 -5.89491797e-03 -5.77162744e-01  9.83896229e-01 -1.54182385e+00
 -7.95953877e-02  1.00964066e+00 -5.65989351e-01  3.35853610e-01
  3.44507645e-02  1.49058696e-02 -7.10542736e-15 -6.27354860e-01
  6.27354860e-01  3.73422079e-01 -4.99030553e-01  1.74036439e-01
 -4.84279649e-02]